/* -*- mode: css -*- */

.tournabox-container {
	.tournabox-root {
		padding-bottom: 5px;
		border: 1px solid green;
		font-size: 16px;
		display: inline-block;
		color: black;
		@media (min-width:768px) {
			min-width: 730px;
		}
		font-family: Arial, Sans Serif;

		.tournabox-menu {
			background-color: #D5EBED;
			position: relative;
			padding: 6px;
			.tournabox-filter-span { 
				position: absolute;
				right: 0;
				top: 6px;
			} 
			input[type="checkbox"] {
				margin: 0 20px 0 4px;
				vertical-align: middle;
			}
			.tournabox-filter-input {
				box-sizing: border-box;
				border-radius: 5px;
				padding: 0;
			}
		}

		.tournabox-results {
			border-collapse: collaps;
			border-spacing: 0px;
			overflow: auto;
			padding: 4px;
			@media (min-width:768px) {
				min-width: 728px;
			}

			.tournabox-header-row {
				// background-color: lighten(color(red), 44%);
				.tournabox-header {
					padding: 8px;
					font-size: 1.2em;
					font-weight: bold;
					.tournabox-name {
						font-weight: normal;
					}
				}
			}

			.tournabox-odd {
				background-color: lighten(color(gray), 42%);
			}

			.tournabox-country {
				margin-left: 4px;
				color: purple;
				font-size: .8em;
			}

			.tournabox-seeded {
				.tournabox-name {
					color: darken(color(blue), 20%);
				}
				.tournabox-seed {
					font-weight: bold;
					&:before { content: ' ['; }
					&:after { content: ']'; }
					vertical-align: super;
					font-size: .8em;
				}
			}

			.tournabox-row {
				vertical-align: baseline;
				line-height: 1;

				td {
 					padding: 2px 4px 2px 4px;
				}

				td:first-child {
					padding-left: 7px;
				}
				.tournabox-entry {
					font-style: italic;
				}
				.tournabox-was-defeated-by { color: red }
				.tournabox-defeated { color: green }
				.tournabox-upset {
					color: green;
					font-weight: bold;
				}
				.tournabox-was-upset-by {
					color: red;
					font-weight: bold;
				}
				.tournabox-advanced {
					color: green;
					text-decoration: underline;
				}
				.tournabox-will-face { color: blue }

				.tournabox-in-round {
					.tournabox-round {
						margin-left: 5px;
						text-decoration: underline;
						font-weight: bold;
					}
				}

			}
		}
	}	
}
